//sass --watch Styles/styles.scss:Styles/styles.css

@import "variables";
@import "mixins";

//General
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  position: relative;
}
.space {
  min-height: 60px;
}
.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.test {
  position: relative;
  z-index: 5;
}

.topnav a.icon {
  display: none;
}

.svg {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

//Header
header {
  //Do not Delete z-index. It is used to make the header appear on top of the map.
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: black;
  color: white;
  border-bottom: 5px solid $light_red;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
  nav {
    display: block;
  }
  ul {
    list-style-type: none;
    float: right;
    padding-top: 10px;
  }
  li {
    display: inline;
    padding-left: 40px;

    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
    .active {
      font-size: 1.1em;
      padding: 5px;
      border-bottom: 2px solid $light_red;
      color: $light_red;
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $light_blue;
    }
  }
  #iconContainer {
    float: left;
    width: 25px;
  }
}

#header-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid white;

  &:hover {
    border: 3px solid $light_blue;
    transition: all 0.3s ease 0s;
  }
}
//About Me Section
#aboutMe {
  background-color: $light_blue;
  background-image: url(/Assets/MiddleClouds.svg), url(/Assets/BackClouds.svg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 0 15px 0;
  color: $super_dark_blue;
  position: relative;
  padding: 250px 0 130px 0;

  h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
#title {
  margin-top: 80px;
  margin-bottom: 30px;
}

button {
  @include button;
  background-color: $light_blue;
  width: 33%;

  &:hover {
    transition: all 0.4s ease 0s;

    a {
      color: $light_blue;
    }
    background-color: white;
    color: $light_blue;
  }
}

//Projects

#projects {
  padding: 30px 0px;
  background: url(/Assets/Brick-01.png);
  background-blend-mode: soft-light;
  // background: url(/Assets/Tech-01.svg);
  // background-attachment: fixed;
  @include backgroundTexture;
  background-color: $super_dark_blue;
  color: white;
  h2 {
    font-size: 2em;
  }
}
#projects_grid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  grid-row-gap: 20px;
  div {
    padding: 13px;
    .info {
      padding: 5px 0px 10px 0px;
    }
  }
}

.projectCard {
  border-radius: 4px;
  color: $super_dark_blue;
  padding: 0px;
  background-color: white;
  img {
    width: 100%;
  }

  a {
    color: $light_blue;
    float: right;
    &:hover {
      color: $light_red;
    }
  }
  h3 {
    font-size: 1.5em;
    display: inline;
  }
  i {
    font-size: 3em;
    display: inline;
  }
}

#largeButton {
  width: 70%;
  border: 0px;
  text-align: center;
  a {
    float: none;
    color: white;
  }
  &:hover {
    color: $super_dark_blue;
    background-color: $light_red;
  }
}

//Skills

#skills {
  background: url(/Assets/gearBackground.svg);
  background-attachment: fixed;
  @include backgroundTexture;
  background-blend-mode: hard-light;
  padding: 30px 0px;
  text-align: center;
  color: white;
  background-color: black;
  margin: 15px 0 15px 0;
  h2 {
    color: white;

    font-size: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    padding: 6px;
  }
  img {
    width: 50%;
    padding-top: 15px;
  }
}
#skills_grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  hr {
    border: 1px solid $gold;
  }
  div {
    border: 8px solid $gold;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
  }
  .gold {
    color: $gold;
  }
  .silver {
    color: silver;
    border-color: silver;
  }
}

//Location

#location {
  background: url(/Assets/Brick-01.png);
  background-blend-mode: soft-light;
  @include backgroundTexture;
  background-color: $super_dark_blue;
  padding: 50px 0 50px 0;
  h2 {
    color: white;
    font-size: 2em;
    margin-top: 0px;
  }
  h3 {
    color: $light_red;
  }
  p {
    color: aliceblue;
  }
}
.location-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 25px;
}

#locationText {
  grid-column: 1/2;
}
#map {
  width: 100%;
  min-height: 400px;
  grid-column: 2/3;
  margin: 0 auto;
}

//Contact Me
#contactMe {
  //Background
  background: url(/Assets/ContactBackground-01.svg);
  background-attachment: fixed;

  @include backgroundTexture;
  background-color: $light_red;
  position: relative;
  width: 100%;
  color: white;
  padding: 30px 0 100px 0;
  margin: 15px 0 15px 0;
  img {
    position: absolute;
    width: 40%;
    right: 0px;
    bottom: 0px;
  }
  hr {
    float: left;
    width: 100%;
    grid-column: 1/4;
  }
  h2 {
    font-size: 2em;
    color: $super_dark_blue;
  }
  h3 {
    color: $super_dark_blue;
  }
  a {
    color: white;
  }
  p {
    font-size: 1.2em;
  }
  button {
    @include button;
    background-color: $light_red;
    width: 90%;
    &:hover {
      transition: all 0.4s ease 0s;
      a {
        color: $light_red;
      }
      background-color: white;
      color: $light_red;
    }
  }
}

#contact_grid {
  display: grid;
  grid-template-columns: 29% 29% 38%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  #para {
    grid-column: 1/3;
  }
  #one {
    grid-column: 1/3;
  }
  #two {
    grid-column: 2/3;
  }
}
//Footer
footer {
  text-align: center;
  width: 100%;
  background-color: #111;
  color: white;
  padding: 30px 0 50px 0;
  #social {
    font-size: 30px;
  }
  a {
    color: white;
    &:hover {
      color: $light_red;
    }
  }
  i {
    padding: 5px;
  }
  p {
    padding-top: 15px;
    font-size: 13px;
  }
}

@import "mediaQueries";
