//sass --watch Styles/styles.scss:Styles/styles.css

@import 'variables';

//General 
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 70%; 
    margin: 0 auto;
}

//Header
header{
    padding: 20px 0 20px 0;
    background-color: black;
    color: white;
    ul{
        list-style-type: none;
        float: right;
    }
    li{
        display: inline;
        padding-left: 40px;
        &:hover {
            color:$light_blue;
        }
    }
    .active{
        font-size: 1.1em;
        color: $light_red;
    }

}

#header-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;

    &:hover {
        border: 3px solid $light_blue;
    }
}
//About Me Section
#aboutMe{
    background-color: $light_blue;
    padding: 100px 0 100px 0;
    //background-image: url("../Assets/img.png");

    h1{
        font-size: 70px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
#title{
        margin-top: 80px;
        margin-bottom: 30px;
}

//Projects

#projects{
    padding: 30px 0px; 
    background-color: $dark_blue;
    color: white;
}
#projects_grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    div{
        background-color: $light_blue;
        padding: 10px;
        border-radius: 10px;
    }
}


//Skills

#skills{
    padding: 30px 0px; 
    text-align: center;
    color: white;
    h1{
        color: $dark_blue;
    }
    ul {
        list-style-type: none;
        padding: 0px;
      }
}
#skills_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25px;
    div{
        background-color: $light_blue;
        padding: 10px;
        border-radius: 10px;
    }
}

//Location
#location{
    background-color: $dark_blue;
    padding: 40px 0 40px 0;
    h2{
        color: white;
        font-size: 2em;
    }
    h3{
        color: $light_red;
        
    }
    p{
        color: aliceblue;
    }
}
.location-grid{
    display: grid;
    grid-template-columns: auto 600px;
    grid-column-gap: 25px;

}

#locationText{
    grid-column: 1/2;
}
#map {
   height: 400px;
   width: 600px;
   grid-column: 2/3;
    margin: 0 auto;
}

//Contact Me
#contactMe{
    background-color:$light_red;
    color: white;
    padding: 30px 0;
}

//Footer
footer{
    background-color: #111;
    color: white;
    padding: 30px 0;
}

