//sass --watch Styles/styles.scss:Styles/styles.css

@import 'variables';

//General 
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    position: relative
}
.space{
    min-height: 60px;
}

.container{
    width: 70%; 
    margin: 0 auto;
}

a{
    text-decoration: none;
}


//Header
header{
    
    //Do not Delete z-index. It is used to make the header appear on top of the map.
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: black;
    color: white;
    border-bottom: 5px solid $light_red;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
    nav{
        display: inline;
    }
    ul{
        list-style-type: none;
        float: right;
    }
    li{
        display: inline;
        padding-left: 40px;
        
        font-size: 1.1em;
        transition: all 0.2s ease-in-out;
        .active{
            font-size: 1.1em;
            padding: 5px;
            border-bottom: 2px solid $light_red;
            color: $light_red;

        }
    }
    a{ text-decoration: none;
        color: white;
        &:hover {
            color:$light_blue;
            
        }
    }
    #iconContainer{
        float: left;
        width: 25px;
    }
}

#header-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;

    &:hover {
        border: 3px solid $light_blue;
        transition: all 0.3s ease 0s;

    }
}

//About Me Section
#aboutMe{
    background-image: url(/Assets/clouds-01.png);
    background-position: center; 
    background-size: cover; 

    margin: 0 0 15px 0 ;
    color: $super_dark_blue;
   
    
      
    background-color: $light_blue;
    padding: 250px 0 130px 0;

    h1{
        font-size: 70px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
}
#title{
        margin-top: 80px;
        margin-bottom: 30px;
}

button{
    background-color: $light_blue;
    border:  3px solid white;
    padding: 10px;
   // border-radius: 10%;
    width: 33%;
    font-size: 1.1em;
    a{
        color: white;
    }
    &:hover{
        transition: all 0.4s ease 0s;

        a{
            color: $light_blue;
           }
        background-color: white;
        color: $light_blue;
    }}

//Projects

#projects{
   
    padding: 30px 0px; 
    background-color: $super_dark_blue;
    color: white;
    h2{
        font-size: 2em;
    }
}
#projects_grid{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    div{
        padding: 10px;
    }
}

.projectCard{
   //width: 50%;
   border-radius: 4px;
   color: $super_dark_blue;
   padding: 0px;
    background-color: white;
    img{
        width: 100%;
    }
    .info{
        padding: 5px;
    }
    a{
        color: black;
        float: right;
        
        &:hover{
            color:$light_blue;}
    }
    h3{font-size: 1.5em;
        display: inline;}
    i{
        font-size: 2em;
        display: inline;
    }
}
    


//Skills

#skills{
    padding: 30px 0px; 
    text-align: center;
    color: white;
    background-color: $super_dark_blue;
    margin: 15px 0 15px 0 ;
    h2{
        color: white;
        
            font-size: 2em;
    }
    ul {
        list-style-type: none;
        padding: 0px;
      }
      li{
          padding: 6px;}
      img{
        width: 40%;
        padding-top:15px;
    }
}
#skills_grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    hr {
        border: 1px solid $gold;
    }
    div{
        border: 8px solid $gold;
        background-color: $dark_blue;
        padding: 10px;
        border-radius: 10px;}
    .gold{
        color: $gold;
        
    }
    .silver{
        color: silver;
        border-color: silver;
    }
}

//Location

#location{
    background: url(/Assets/Brick-01.png);
    background-blend-mode: soft-light;
    background-position: center; 
    background-size: cover; 


    background-color: $super_dark_blue;
    padding: 50px 0 50px 0;
    h2{
        color: white;
        font-size: 2em;
        margin-top: 0px;
    }
    h3{
        color: $light_red;
        
    }
    p{
        color: aliceblue;
    }
}
.location-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 25px;

}

#locationText{
    grid-column: 1/2;
}
#map {
   
   width: 100%;
   min-height: 400px;
   grid-column: 2/3;
   margin: 0 auto;
}

//Contact Me
#contactMe{
    background: url(/Assets/ContactBackground-01.svg);
    background-position: center; 
    background-size: cover; 
    background-color:$light_red;
    position: relative;
    width: 100%;
    color: white;
    padding: 30px 0 100px 0;
   margin: 15px 0 15px 0 ;

   img{
     position:absolute;
     //width:40%;
     height:100%;
     right:0px;
     top:10%;
}
    hr{
        float: left;
        width: 100%;
        grid-column: 1/3;
    }
    h2{
        font-size: 2em;
        color: $super_dark_blue;
    }
    h3{
        color:$super_dark_blue;
    }
    a{
        color: white;
    }

    button{
        background-color: $light_red;
        border:  3px solid white;
        padding: 10px;
       // border-radius: 10%;
        width: 100%;
        font-size: 1.1em;
        a{
            color: white;
        }
        &:hover{
            transition: all 0.4s ease 0s;

            a{
                color: $light_red;
               }
            background-color: white;
            color: $light_red;
        }
    }
    
}


#contact_grid{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    #para{
        grid-column: 1/3;
    }
    #one{
        grid-column: 1/2;
    }
    #two{
        grid-column: 2/3;
    }
    
}
//Footer
footer{
    text-align: center;
    width: 100%;
    background-color: #111;
    color: white;
    padding: 30px 0 50px 0;
    #social{
        font-size: 30px;
    }
    a{
        color: white;

        &:hover{
            color:$light_red;}
    }
    i{
        padding: 5px;
    }
    p{
        padding-top: 15px;
        font-size: 13px;
    }
}

// MEDIA QUERIES
@media only screen and (max-width: 910px) {
    //Header Section
    header{
        #iconContainer{
            width: 15%;
            margin-top: 35px;
        }
        nav{
            float: right;
            width: 85%;
        }
        ul{
            width: 100%;
            padding: 0px;
            text-align: right;

            list-style-type: none;
            float: right;
        }
        li{
            padding: 0px;
            display: block;
            width: 100%;
            .active{
                font-size: 1em;
                border-bottom: none;
                padding: 5px;
            }
       
        }

        #header-icon{
            height: 70px;
            width: 70px;
        }
    }

    //About Me
    #aboutMe{
        h1{
            font-size: 52px;
            margin-bottom: 5px;
            margin-top: 10px;
        }}

button{
    width: 66%;
    font-size: 1.1em;
    }

    #title{
        margin-top: 80px;
        margin-bottom: 30px; 
    }

    //Aboutme End
//Projects

#projects_grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    div{
        padding: 10px;
    }}
//End Projects
        
        //Skills

#skills_grid{
    grid-template-columns: 50% 50%;
}
//END SKILLS

//LOCATION 

.location-grid{
    grid-template-columns: 100%;
    grid-column-gap: 0px;

}

#locationText{
    grid-column: 1/3;
}
#map {
   grid-column: 1/3;
  
}
//END LOCATION 
  }
  
/////////////////////////////////////////////////////////////////////////////////
// SMALLER
@media only screen and (max-width: 510px) {
    
    
    //Header
    
    //Header End
    //About Me
    #aboutMe{
        h1{
            font-size: 32px;
            margin-bottom: 5px;
            margin-top: 10px;
        }}
    #title{
        margin-top: 20px;
        margin-bottom: 30px; 
    }
button{
    width: 100%;
    font-size: 1.1em;
    }
    //About Me End


//Skills

#skills_grid{
    grid-template-columns: 100%;
}
//END SKILLS


//LOCATION 

.location-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 25px;
}

//END LOCATION 
  }
  
  
  